meta {
  -theme-interface-style: dark;
  -theme-vibrancy: vibrant;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  background-color: #3a364b;
  border-color: #645e82;
}
meta.titlebar {
  color: #c0bdd1;
  background: #5a5475;
  border-color: #645e82;
}
meta.titlebar.inactive {
  background-color: #3a364b;
}

meta.button {
  background: linear-gradient(hsb(251, 28%, 29%), hsb(251, 28%, 21%));
  border: linear-gradient(hsb(251, 28%, 13%), hsb(251, 28%, 9%));
  color: white;
}
meta.button.highlighted {
  background: linear-gradient(hsb(251, 28%, 39), hsb(251, 28%, 31%));
  color: white;
}
meta.button.selected {
  color: white;
}
meta.button.highlighted.selected {
  color: white;
}
meta.button.disabled {
  background: linear-gradient(hsb(251, 28%, 29%), hsb(251, 28%, 21%));
  border: linear-gradient(hsb(251, 28%, 13%), hsb(251, 28%, 9%));
  color: hsb(0, 0%, 40%);
}

meta.textfield {
  background-color: hsb(251, 28%, 21%);
  border-color: hsb(251, 28%, 9%);
}

meta.textfield.active {
  background-color: hsb(251, 28%, 21%);
  border-color: hsb(144, 13%, 91%);
}

meta.accent {
  color: hsb(204, 78%, 97%);
}

/*
 * Document styles
 */
meta.document {
  background-color: #5a5475;
  border-color: #645e82;
}

meta.document.button {
}

meta.document.button.disabled {
}

meta.document.button.highlighted {
}

meta.document.textfield {
}

/* Text */
meta.text {
  color: #f8f8f2;
}
meta.text.invisible {
  color: hsb(210, 20%, 20%);
}
meta.text.selected {
  background-color: #8077a8;
}

/* Cursor */
meta.cursor {
  background-color: hsb(252, 33%, 60%);
}

/* Indentation Guides */
meta.indentguide {
  border-color: hsba(220, 10%, 50%, 0.2);
}

/* Gutter */
meta.gutter {
  color: hsb(252, 21%, 59%);
}
meta.gutter.selected {
  background-color: hsb(252, 33%, 60%);
  color: hsb(252, 33%, 90%);
}

/*
 * Syntax styles
 */

keyword {
  color: #ffb8d1;
}
comment {
  color: #e6c000;
}
processing {
  color: hsb(210, 20%, 50%);
}
declaration {
  color: hsb(210, 20%, 50%);
}
bracket {
}
operator {
}
invalid {
  background-color: hsb(355, 82%, 96%);
  color: #ffb0b0;
}
link {
  color: hsb(210, 60%, 100%);
}

/* Values */
value.boolean {
  color: hsb(210, 60%, 100%);
}
value.null {
  color: hsb(210, 60%, 100%);
}
value.number {
  color: #c5a3ff;
}
value.entity {
  color: hsb(210, 60%, 100%);
}
value.symbol {
  color: hsb(210, 60%, 100%);
}

/* Identifiers */
identifier.type {
  color: hsb(258, 40%, 87%);
}
identifier.constant {
  color: #c5a3ff;
}
identifier.global,
identifier.variable {
  color: hsb(268, 34%, 100%);
}
identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
  color: hsb(166, 40%, 78%);
}
identifier.key {
  color: hsb(210, 60%, 100%);
}
identifier.argument {
  color: hsb(268, 34%, 100%);
}

/* Strings */
string {
  color: #ffea00;
}
string.key {
  color: hsb(5, 65%, 100%);
}
string-template {
  color: hsb(27, 60%, 100%);
}
string-template.value {
  color: hsb(27, 72%, 100%);
}
regex {
  color: hsb(40, 72%, 100%);
}
regex.escaped {
  color: hsb(27, 72%, 99%);
}
cdata {
  color: hsb(210, 60%, 100%);
}

/* Markup */
markup.heading {
  color: hsb(30, 50%, 80%);
}
markup.line {
  color: hsb(60, 50%, 75%);
}
markup.bold {
  color: hsb(196, 60%, 76%);
  font-weight: bold;
}
markup.italic {
  color: hsb(94, 40%, 80%);
  font-style: italic;
}
markup.strikethrough {
  color: hsb(0, 60%, 100%);
}
markup.list.item {
  color: hsb(30, 50%, 80%);
}
markup.code {
  background-color: rgba(128, 128, 128, 0.2);
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: hsb(258, 40%, 87%);
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: hsb(210, 10%, 100%);
}

/* Tags */
tag {
  color: hsb(166, 40%, 78%);
}
tag.framework {
  color: hsb(258, 40%, 87%);
}
tag.attribute.name {
  color: hsb(95, 54%, 82%);
}
tag.attribute.value {
  color: hsb(5, 62%, 100%);
}
tag.attribute.value.link {
  color: hsb(210, 60%, 100%);
}

/* Styles */
style.at {
  color: hsb(25, 75%, 100%);
  font-weight: bold;
}
style.selector.element {
  color: #ffb8d1;
  font-weight: bold;
}
style.selector.identifier.id {
  color: hsb(166, 40%, 78%);
}
style.selector.identifier.class {
  color: #fff352;
}
style.selector.pseudoclass {
  color: hsb(258, 40%, 87%);
}
style.selector.pseudoelement {
  color: hsb(166, 40%, 78%);
}
style.attribute.name {
  color: #c2ffdf;
}
style.value.number {
  color: #c5a3ff;
}
style.value.color.hex {
  color: #c5a3ff;
}
style.value.color.named {
  color: #c2ffdf;
}
style.value.keyword {
  color: #c2ffdf;
}
